@media (max-width: 768px) {
    .header {
        height: 80px;    
    }
    .menu__left{
        margin-left: 32px;
    }
    .menu__right{
        margin-right: 32px;
    }
    .hightlights__box{
        margin: 0px 0px 32px 32px;
    }
    .popular__title{
        font-size: 22px;
        margin-left: 32px;  
    }
    .popular__button{
        margin-right: 32px;  
    }
    .popular__content{
        margin: 0px 32px 32px 32px;
    }
    .popular__card:nth-child(5){
        display: none;
        
    }
    .popular__card:nth-child(6){
        display: none;
    }
    #popular__card__divers__5{
        display: inline;
        flex-grow: 0.01;
        width: 154px;
    }
    #popular__card__divers__6{
        display: inline;
        flex-grow: 0.01;
        width: 154px;
    }
    .popular__card{
        flex-grow: 1.5;
        width: 154px;
    }
    .formcontact{
        height: 364px;  
    }
    .formcontact__contact{
        display: flex;
        margin: 0px 32px;
    }
    .formcontact_left{
        display: flex;
        flex-direction: column;
    }
    .formcontact__img{
        margin-top: 42px;
    }
    .formcontact__text{
        margin-top: 0px;
        margin-left: 0px;
    }
    .formcontact__form{
        margin-top: 32px;
    }
    .formcontact__input{
        height: 50px; 
        width: 430px;
    }
    .formcontact__textarea{
        height: 65px;
        width: 430px;
    }
}

@media (max-width: 600px) {
    .header {
        display: flex;
        height: 80px;    
    }
    .menu__left{
        margin-left: 16px;
    }
    .menu__search{
        display: none;  
    }
    .menu__right{
        margin-left: 16px;
    }
    .menu__button__right{
        padding: 16px 70px;
    }
    .menu__icon{
        display: flex;  
    }
    .menu__icon__search{
        align-items: center;
        display: flex;
        margin-right: 16px;
    }
    .popular__header{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        line-height: 0.2;
        margin: 28px 0px 16px 0px;
    }
    .popular__title{
        font-size: 22px;
        margin-left: 16px;  
    }
    .popular__button{
        font-size: 14px;
        height: 16px;
        margin-right: 0px; 
        margin-left: 16px;
        padding: 16px; 
        width: 120px;
    }
    .popular__content{
        margin: 0px 16px 32px 16px;
    }
    #popular__card__divers__5{
        display: inline;
        flex-grow: 0.5;
        width: 154px;
    }
    #popular__card__divers__6{
        display: inline;
        flex-grow: 0.5;
        width: 154px;
    }
    .popular__card{
        flex-grow: 1;
        width: 124px;
    }   
    .formcontact{
        height: 630px;  
    }
    .formcontact__contact{
        display: flex;
        flex-direction: column;
        margin: 0px 16px;
    }
    .formcontact_left{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .formcontact__img{
        margin-top: 32px;
    }
    .formcontact__text{
        margin-top: 0px;
        margin-left: 0px;
    }
    .formcontact__form{
        margin-top: 0px;
    }
    .formcontact__input{
        height: 50px;
        width: 395px;
    }
    .formcontact__textarea{
        height: 65px;
        width: 395px;
    }
  
 
}


