.hightlights__main{
    background-image: url(../../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 350px;  
}
.hightlights__box{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0px 0px 64px 150px;
}
.hightlights__main h2{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 5px;
}
.hightlights__main h3{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 5px;
}
.hightlights__button{
    background: #2A7AE4;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    padding: 14px;
}
